.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Styles */
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.navbar{
    max-width: 1440px;
    margin: 0 auto;
}
/* Nav Styles */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 240px;
}
.brand{
    font-size: 3em;
    font-weight: 700;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    display: flex;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}